@import 'alert.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus {
    outline: none;
}

input,select {
    transition: .4s ease-in-out;
}


.img-radius-banner1 {
    border-radius: 85% 15% 0% 100% / 100% 0% 100% 0%;
    position: relative;
    width: 55%;
    height: 42%;
    right: 0;
    top: 8.4%;
}

.img-radius-banner2 {
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
    position: relative;
    width: 45%;
    height: 20%;
    left: 0;
    bottom: 0;
}


.line-animation::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background:#0d5f96;
    transition: .3s;
}

.line-animation:hover::before {
    width: 100%;
}

.btn-submit {
    transition: .3s;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: #0d5f96;
}

.input-error {
    border-color: #E53030;
}

.input-error::placeholder, .input-error option.first:disabled { 
    color: #f86868;
}

.span-error { 
    color: #f86868;
    display: block;
    font-size: 0.9rem;
    margin: 5px 0 20px 10px;
}